@model PagedList.IPagedList<BDSCodeTest.Models.Task>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TaskNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TaskDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


<div>
    @Html.ActionLink("Back to Task Calendar", "TaskCalendar")
</div>
